$buttonConfig: (
  primary: (
    background: $primaryBtnBgColor,
    background-image: $primaryBtnBgImg,
    background-hover: $primaryBtnBgColorHover,
    background-hover-image: $primaryBtnBgImgHover,
    border: $primaryBtnBorder,
    color: $primaryBtnColor,
    box-shadow: $primaryBtnBoxShadow,
    color-hover: $primaryBtnColorHover,
    box-shadow-hover: $primaryBtnBoxShadowHover

  ),
  secondary: (
    background: $secondaryBtnBgColor,
    color: $secondaryBtnColor,
    border: $secondaryBtnBorder,
    background-hover: $secondaryBtnBgColorHover,
    color-hover: $secondaryBtnColorHover,
    border-hover: $secondaryBtnBorderHover,
    box-shadow-hover: $secondaryBtnBoxShadowHover
  ),
  teritary: (
    background: $teritaryBtnBgColor,
    color: $teritaryBtnColor,
    border: none
  ),
  teritary-outline: (
    background: $teritaryOutlineBtnBgColor,
    color: $teritaryOutlineBtnColor,
    border: $teritaryOutlineBorderColor,

    background-hover: $teritaryOutlineBtnBgColorHover,
  )
);


